body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #eceff1;
}

.calculator-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 360px;
    text-align: center;
}

h1 {
    font-size: 30px;
    color: #3f51b5;
    margin-bottom: 30px;
}

.score, .selected-level {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.problem {
    font-size: 24px;
    margin-bottom: 30px;
    color: #3f51b5;
  
}

.feedback {
    font-size: 18px;
    margin-top: 15px;
    color: #333;
}

.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}

.game-over {
    color: #f44336;
    font-weight: bold;
}

select, input, button {
    font-size: 18px;
    padding: 14px;
    width: 100%;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: 0.3s;
}

select:focus, input:focus, button:focus {
    border-color: #3f51b5;
    outline: none;
}

button {
    background-color: #3f51b5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #303f9f;
}

button:active {
    background-color: #1a237e;
}

#start {
    background-color: #4CAF50;
}

#start:hover {
    background-color: #388E3C;
}

.clear {
    background-color: #f44336;
}

.clear:hover {
    background-color: #e53935;
}

/* Center align the 'Your Answer' input box and make it symmetric */
#answer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}


#answer {
    width: 335px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}